body {background-color: darkcyan;}

h1 {font-size: 100px;
text-align: center;
color: white;
font-family: 'Dancing Script', cursive;
}
h2 {font-size: 45px;
color: white;
text-align: center;
}

#taskList {
    width: 40%;
    border-style:dashed;
    border-width:  3px; 
    text-align: center;
    background-color: aliceblue;
    padding: 20px;
    margin: 20px;
}
.home_tasks{
display: none;
}